{% extends "./base.html" %}


{% block contenido %}
<div class="container py-5">
    <hr>
    <h2 class="text-center">SOBRE NOSOTROS</h2>
    <hr>
    <section class="pt-3">
        <p class="text-justify">Somos una empresa familiar dedicada al mundo de la pastelería y los postres, con
            un enfoque especial en la venta de flan, de ahí nuestro nombre. Fundada en 2021, estamos ubicados en el
            corazón de Santiago de Chile, en el barrio de Providencia, a pasos del metro Parque Bustamante. Nuestro
            objetivo es ofrecer productos de la más alta calidad a nuestra clientela, asegurando frescura y sabor en
            cada bocado.</p>
    </section>
    <section>
        <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
            <div class="feature col">
                <div class="feature-icon bg-gradient fs-1 mb-3 text-center">
                    <i class="fa-solid fa-cheese"></i>
                </div>
                <p class="text-center">Explora nuestra amplia gama de pasteles, postres y, por supuesto, flanes.</p>
            </div>
            <div class="feature col">
                <div class="feature-icon bg-gradient fs-1 mb-3 text-center">
                    <i class="fa-solid fa-hand-holding-dollar"></i>
                </div>
                <p class="text-center">Accede a productos especiales y ofertas exclusivas solo para usuarios
                    registrados.</p>
            </div>
            <div class="feature col">
                <div class="feature-icon bg-gradient fs-1 mb-3 text-center">
                    <i class="fa-solid fa-handshake"></i>
                </div>
                <p class="text-center">Conoce más sobre nuestra historia y nuestra misión como empresa. </p>
            </div>
        </div>

    </section>

</div>
{% endblock %}